/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #151515;
    margin: 0;
    padding: 0;
    color: #e1a56c;
    overflow-x: hidden;
    background-image: url('PowerPoint/istockphoto-1365099119-640x640.jpg');
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.8);
    animation: moveStars 100s linear infinite;
}

@keyframes moveStars {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2000px -2000px;
    }
}

/* Container Styles */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    min-height: calc(100vh - 150px);
    overflow-y: auto;
    position: relative;
}

/* Heading Styles */
h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

/* Input Container Styles */
.input-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    width: calc(100% - 40px);
    margin-top: 5px;
    z-index: 1;
}

.input-text {
    flex: 1;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
    min-height: 30px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.input-text::placeholder {
    color: #8a8a8a;
}

.submit-button {
    padding: 20px 20px;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #5c2e2e;
    color: #fff;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #d29258;
}

.submit-button:focus {
    outline: 2px solid #e0e0e0;
}

/* Message Container Styles */
.message-container {
    max-height: 75vh;
    overflow-y: auto;
    margin-bottom: 20px;
    position: relative;
    scrollbar-width: thin;
    scrollbar-color: #876341 #0d0d0d;
}

.message-container::-webkit-scrollbar-thumb {
    background-color: #d29258;
}

.message-container::-webkit-scrollbar-track {
    background-color: #5c2e2e;
}

/* Message Wrapper Styles */
.message-wrapper {
    max-height: 100%;
    overflow-y: auto;
    padding: 20px;
}

/* Message Styles */
.user-message,
.bot-message {
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-message {
    background-color: #361c1c;
    color: #fff;
}

.bot-message {
    background-color: #343a42;
    color: #fff;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .chat-wrapper {
        flex-direction: column;
    }

    .message-container,
    .input-container {
        margin-bottom: 0.5rem;
    }

    .input-text,
    .submit-button {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 480px) {
    .input-text,
    .submit-button {
        font-size: 0.7rem;
    }
}
