/* ---------------------- Body Styles ---------------------- */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #151515;
    margin: 0;
    padding: 0;
    color: #e1a56c;
}

/* ---------------------- Container Styles ---------------------- */

.container {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

/* ---------------------- Title Styles ---------------------- */

.title-container {
    text-align: center;
    margin-top: 50px;
}

.title {
    font-size: 36px;
    color: #d29258;
    text-shadow: 0 0 10px #d29258;
    animation: glowAnimation 1.5s ease-in-out infinite alternate, floatAnimation 4s ease-in-out infinite;
}

@keyframes glowAnimation {
    0% {
        text-shadow: 0 0 10px #361c1c;
    }
    50% {
        text-shadow: 0 0 20px #876341;
    }
    100% {
        text-shadow: 0 0 10px #d29258;
    }
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* ---------------------- Heading Styles ---------------------- */

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

/* ---------------------- Button Styles ---------------------- */

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

button {
    padding: 12px 24px;
    margin: 0 10px;
    background-color: #4b2b0c;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 180px;
}

button:active {
    background-color: #4d5158;
}

button:hover {
    background-color: #d29258;
}

button.active {
    background-color: #4d5158;
}

/* ---------------------- Response Styles ---------------------- */

#response {
    margin-top: 20px;
    padding: 20px;
    background-color: #343a42;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 94.5%;
    height: 200px;
    overflow: auto;
}

/* ---------------------- Temps Styles ---------------------- */

.temps {
    text-align: center;
    margin-top: 20px;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px 0;
}

/* ---------------------- Command Form Styles ---------------------- */

#commandForm {
    display: flex;
    align-items: center;
}

#commandForm label {
    margin-right: 10px;
}

#commandForm input[type="text"] {
    flex: 1;
}

#commandForm button[type="submit"] {
    margin-left: 10px;
}

/* ---------------------- Temp Table Styles ---------------------- */

.temp-table {
    display: flex;
    flex-direction: row;
}

.temp-row {
    flex: 1;
    display: flex;
}

.temp-column {
    flex: 1;
    padding: 10px;
}

.temp-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.temp-value {
    margin-bottom: 5px;
}

/* ---------------------- New Temp Input Styles ---------------------- */

.new-temp-input {
    width: 100%;
}

/* ---------------------- Button Container Styles ---------------------- */

.button-container {
    text-align: right;
    margin-top: 10px;
}

/* ---------------------- Files Styles ---------------------- */

.files h2 {
    text-align: center;
}

.file-item {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
}

/* ---------------------- Camera Styles ---------------------- */

/* ---------------------- Camera Styles ---------------------- */

.camera {
    margin-top: 20px;
    text-align: center;
}

.camera h2 {
    text-align: center;
}

.camera iframe {
    display: block;
    margin: 0 auto;
}

/* ---------------------- Files Container Styles ---------------------- */

.files-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* ---------------------- Files Styles ---------------------- */

.files {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.file-input-wrapper {
    margin-right: 10px;
}

.files-container .files button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    width: 120px;
}

/* ---------------------- Responsive Styles ---------------------- */

@media screen and (max-width: 650px) {
    .container {
        max-width: 100%;
        margin: 20px auto;
        padding: 10px;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .temps {
        margin-top: 10px;
    }

    .temp-row {
        flex-direction: column;
    }

    .temp-column {
        flex: 1;
        margin-bottom: 10px;
    }

    .new-temp-input {
        width: 100%;
    }

    .files {
        flex-direction: column;
    }

    .file-input-wrapper {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* ---------------------- Common Styles ---------------------- */

.image {
    width: 100%;
    height: auto;
}

.controller {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px 0;
}

.controller h2 {
    text-align: center;
    margin: 0 auto;
}

.controller-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controller-buttons > div {
    display: flex;
}

/* ---------------------- Arrow Button Styles ---------------------- */

.arrow-button {
    padding: 10px 10px;
    font-size: 20px;
    margin: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #4b2b0c;
    color: #fff;
    transition: background-color 0.3s ease;
    width: 70px;
}

.arrow-button:hover {
    background-color: #d29258;
}

/* ---------------------- Home Button Styles ---------------------- */

.home-button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #4b2b0c;
    color: #fff;
    transition: background-color 0.3s ease;
    width: 70px;
    display: flex;
    justify-content: center;
}

.home-button:hover {
    background-color: #d29258;
}

/* ---------------------- Additional Buttons Styles ---------------------- */

.additional-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.additional-buttons > button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #4b2b0c;
    color: #fff;
    transition: background-color 0.3s ease;
    width: 70px;
}

.additional-buttons > button:hover {
    background-color: #d29258;
}

.additional-buttons-cal > .home-button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #4b2b0c;
    color: #fff;
    transition: background-color 0.3s ease;
    width: 230px;
    height: 40px;
}

.additional-buttons-cal > .home-button:hover {
    background-color: #d29258;
}

/* ---------------------- Button Styles ---------------------- */

.register-button {
    padding: 10px 20px; /* Adjust padding for button size */
    font-size: 16px; /* Adjust font size */
    background-color: #4b2b0c;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* ---------------------- Modal Styles ---------------------- */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* ---------------------- Modal Content Styles ---------------------- */

.modal-content {
    background-color: #343a42;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* ---------------------- Printer Info Styles ---------------------- */

.printer-info {
    display: flex;
    flex-direction: column;
}

/* ---------------------- Basic Info and Additional Info Styles ---------------------- */

.basic-info,
.additional-info {
    display: flex;
    flex-wrap: wrap;
}

.basic-info p,
.additional-info p {
    flex: 0 0 50%; /* Set width to 50% for two columns */
    margin-bottom: 5px; /* Add some margin between paragraphs */
}

/* ---------------------- Common Styles ---------------------- */

.register-button {
    margin-left: auto;
}

.modal-content {
    text-align: start;
}

.instruction-text {
    margin-bottom: 10px;
}

/* ---------------------- Position Information ---------------------- */
/* Position Information */
.position-info {
    margin-top: 50px; /* Increased margin from the text above */
    text-align: center;
}

.position-row {
    display: flex;
    justify-content: space-between;
}

.position-column {
    flex: 1;
}

.position-label {
    font-weight: bold;
    font-size: 25px; /* Increased font size */
}

.position-value {
    margin-left: 2px; /* Increased margin between label and value */
    font-size: 25px; /* Increased font size */
}

/* ---------------------- Fan Control Styles ---------------------- */
/* Adjust the fan-control container */
.fan-control {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
    margin-top: 20px;
}

/* Style for the slider */
input[type="range"] {
    width: calc(100% - 80px); /* Adjust width to leave space for the button */
    margin-right: 10px; /* Add some space between the slider and the button */
}

/* Style for the "Set" button */
#set-fan-speed {
    padding: 5px 10px; /* Adjust padding to make the button smaller */
}

